.stylefooter {
    background-color: var(--secondary);
    .imgc{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        width: 80px;
    }
    .img-footer{
        width: 239px;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
    }
    .textF{
        color: aliceblue;
    }
}
.containerF{
    display: flex;
    align-items: center;
    margin-left: 16px;
    .text{
        color: aliceblue;
        padding: 0 10px;
        margin: 0;
        border-right: 1px solid var(--primary);
    }
}

.button-whats {
    width: 37px;
    height: 80px;
    position: fixed;
    line-height: 55px;
    bottom: 25px;
    right: 25px;
    .img-t{
        width: 50px;
    }
}