<div class="button-whats">
    <a  href="https://api.whatsapp.com/send?phone=998 242 0184">
        <img class="img-t" src="assets/social-media/logo-whatsApp.png" >
    </a>
</div>
<footer class="stylefooter">
            <img class="imgc" src="assets/logos/logo-white.png">
            <div class="containerF">
                <p class="textF">Siguenos</p>
                <a href="" >
                    <img class="img-footer" src="assets/social-media/logo-social.png">
                </a>
                <p class="textF">Cancún</p>
            </div>
            <div class="containerF ">
                <p class="text">Inicio</p>
                <p class="text">Compra</p>
                <p class="text">Renta</p>
                <p class="text">Inmuebles</p>
                <p class="text">Destacados</p>
                <p class="text">¿Quiénes somos?</p>
                <p class="text">Lo que dicen de nosotros</p>
                <p class="text">Contacto</p>
            </div>
            <div class="container">
                <p class="textE">Todos los derechos reservador 2022. AVISO DE PRIVACIDAD
                    Diseño y desarrollo por: dappertecnologies
                </p>
            </div>
</footer>
