.stylefooter {
    background-color: var(--secondary);
    .imgc{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        width: 80px;
        padding: 10px;
    }
    .img-footer{
        width: 239px;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
    }
    .textF{
        color: aliceblue;
    }
}
.containerF{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
.text{
    color: aliceblue;
    padding: 0 10px;
    border-right: 1px solid var(--primary);
    text-align: center;
}
}

.button-whats {
    width: 37px;
    height: 80px;
    position: fixed;
    line-height: 55px;
    bottom: 25px;
    right: 25px;
    .img-t{
        width: 50px;
    }
}
.textE{
    color: rgba(38, 108, 143, 0.927);
    text-align: center;
    margin: 8px 0;
}
@media screen and (max-width: 679px) {
    .containerF {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
    }
    

    .textF,
    .text {
        font-size: 10px;
    }

    .textE {
        font-size: 12px;
    }
}
@media (min-width: 320) {
    .containerF {
        max-width: 300px;
    }
}

@media (min-width: 576px) {
    .containerF {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .containerF {
        max-width: 710px;
    }
}