<section class="wrapper header">
    <div class="black-nav">
        <div class="contentNav">
            <a href="tel:9982420184" class="">
                <img class="imageNav" src="/assets/social-media/phone-call.png">
                <span>998 242 0184</span>
            </a>
            <a href="mailto:example@example.com" class="">
                <img class="imageNav" src="/assets/social-media/email-icon.png">
                <span>contacto@ankyrarealty.com</span>
            </a>
            <a href="https://www.facebook.com/" class="">
                <img  class="imageNav" src="/assets/social-media/logo-facebook.png">
            </a>
            <a  class="https://www.instagram.com/">
                <img class="imageNav" src="/assets/social-media/logo-instagram.png">
            </a>
            <a  class="https://www.tiktok.com/foryou?lang=es">
                <img class="imageNav" src="/assets/social-media/logo-tiktok.png">
            </a>
            <a  class="https://www.youtube.com/">
                <img class="imageNav" src="/assets/social-media/logo-youtube.png">
            </a>
        </div>
    </div>
    <nav class="container">
            <a href="" class="logo">
                <img src="/assets/logos/logo.png">
            </a>
            <div class="nav-elements-mobile">
                
            </div>
    </nav>
    <hr>
</section>