.header {
    position: fixed;
    width: 100%;
    background-color: white;

    nav {
        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img {
            max-width: 80px;
            margin-top: 1rem;
            margin-left: 3rem;
        }
    }

    .black-nav {
        background-color: black;
        height: 2rem;
        .contentNav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: white;
                font-size: 12px;
            }
            .imageNav {
                width: 20px;
                height: 20px;
                margin: 5px;
            }
        }
    }


    .mobile-menu {
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        background: black;
        color: white;
        overflow: auto;
    }

    hr {
        height: 2px;
        background-color: var(--primary);
    }
}