.image-hero{
    margin-top: 0;
    height: 200px;
    width: 500;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.text-hero{
    position: absolute;
    top: 15px;
    color: #199DB2;
    margin-left: 1.2em;
    font-size: 2em;

}
.text-hero-n{
    position: absolute;
    margin-left: 2em;
    font-size: 2em;
    top: -10px;
}
.container{
    position: relative;
    display: inline-block;
    text-align: center;
}