.container {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;

    .text {
        position: absolute;
        top: 28%;
        left: 28%;
        transform: translate(-50%, -50%);
        /* Move the text back to center */
        color: black;
        font-size: 30px;

        .text-hero {
            color: #199DB2;

        }
    }
}

.image-container {
    max-width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.sectionB {
    position: relative;
}
.form {
    flex: 2;
    position: relative;
    width: 100%;
    max-width: 470px;
    max-height: 520px;
    border-radius: 8px;
  }